body{
    font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
    color: #d5d328;
    background-repeat: no-repeat;
    background-size: cover;
}

.title_main{
    text-align: center;
}


#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #2f3131;}