body{
    font-family:"Lucida Grande", Helvetica, Arial, sans-serif;


}

.title_main{
    text-align: center;
}


#wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}