<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questmanager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/crew_datahandler.css">
</head>
<body>
<ul class="navUl">
    <li class="navLi"><a class="active" href="/views/crew_main.html">Back</a></li>
    <li class="navLi"><p class="nav_title">Space Maze Game</p>
    <li class="navLi" style="float:right"><button id="btn_refresh">Refresh</button></li>
</ul>

<p id="demo"></p>

<ul id="quest_list">
</ul>


<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/crew_questhandler.js"></script>
</body>
</html>