<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Manager</title>
</head>
<body>
<p id="demo"></p>

<div>
    <p>Questname:</p>
    <p id="quest_name"></p>
</div>

<div class="quest_department_div">
    <p>Questdepartment:</p>
    <p id="quest_department"></p>
</div>

<button id="btn_start" disabled>Quest starten</button>
<br>
<button id="btn_finish" disabled>Quest entfernen</button>
<button id="btn_stages">Quest Stages</button>


<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/crew_questmanager.js"></script>
</body>
</html>