<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crew Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/user_stats.css">

</head>
<body>
<ul class="navUl">
    <li class="navLi"><a class="active" href="/views/crew_login.html">Back</a></li>
    <li class="navLi"><p class="nav_title">Space Maze Game</p></li>
    <li><a id="logout_link" href="/login">Logout</a></li>
</ul>

<h1>Spieler Übersicht</h1>

<div class="player_info" id="player_info">
    <p>Player ID:</p>
    <p id="player_id"></p>

</div>

<div class="player_info">

    <p>Player Name:</p>
    <p id="player_name"></p>
</div>

<h2 id="demo">Daten</h2>
<p>Kapazität:</p>
<p id="storage_max">0</p>

<p>Belegt:</p>
<p id="storage_occ">0</p>


<progress id="data_bar" value="0" max="100"></progress>

<p>Gesamt:</p>
<p id="storage_all">0</p>

<p>Zu tun</p>

<ul id="todo_list">
</ul>

<p>Abzeichen</p>

<ul id="badge_list">
</ul>


<button id="data_btn">Data Manipulator</button>
<button id="quest_btn">Quest Management</button>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/crew_main.js"></script>
<script type="text/javascript" src="/javascripts/logouthandler.js"></script>
</body>
</html>