<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crew Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<ul class="navUl">
    <li class="navLi"><a class="active" href="/views/crew_login.html">Back</a></li>
    <li class="navLi"><p class="nav_title">Space Maze Game</p></li>
</ul>

<p>Spieler Übersicht</p>

<p id="demo">Daten</p>

<p>Kapazität:</p>
<p id="storage_max">0</p>

<p>Belegt:</p>
<p id="storage_occ">0</p>


<progress id="data_bar" value="0" max="100"></progress>

<p>Gesamt:</p>
<p id="storage_all">0</p>

<p>Zu tun</p>

<ul id="todo_list">
</ul>


<button id="data_btn">Data Manipulator</button>
<button id="quest_btn">Quest Management</button>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/crew_main.js"></script>
</body>
</html>