<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crew Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/user_stats.css">
    <link rel="stylesheet" href="/stylesheets/crew_main.css">

</head>
<body>
<ul class="navUl">
    <li class="navLi"><a class="active" href="/views/crew_login.html">Back</a></li>
    <li class="navLi"><p class="nav_title">Space Maze Game</p></li>
    <li><a id="logout_link" href="/login">Logout</a></li>
</ul>

<h2>Spieler Übersicht</h2>

<div class="player_info" id="player_info">
    <h3>Player ID:</h3>
    <p id="player_id"></p>

</div>

<div class="player_info">

    <h3>Player Name:</h3>
    <p id="player_name"></p>
</div>

<h2 id="demo">Daten</h2>

<div class="player_info">

    <h3>Belegt:</h3>
    <p id="storage_occ">0</p>
</div>

<div class="player_info">
    <h3>Kapazität:</h3>
    <p id="storage_max">0</p>

</div>
<progress id="data_bar" value="0" max="100"></progress>
<br>
<div class="player_info"><h3>Gesamt:</h3>
</div>
<div class="player_info"><p id="storage_all">0</p>
</div>

<div class="footer">
    <button class="btn_footer" id="data_btn">Data Manipulator</button>
    <button class="btn_footer" id="quest_btn">Quest Management</button>
</div>

<h3>Zu tun</h3>

<ul class="todo_list" id="todo_list">
</ul>


<h3>Vermächtnis</h3>

<ul id="badge_list">
</ul>



<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/crew_main.js"></script>
<script type="text/javascript" src="/javascripts/logouthandler.js"></script>
</body>
</html>