<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Maze Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body>
<div class="main-container">

    <b class="title">Space Maze Game</b>


    <input class="button-login" type="button" onclick="location.href='/user_login';" value="Login" />


    <input class="button-crew" type="button" onclick="location.href='/crew_login';" value="crew" />

</div>


</body>
</html>