<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/user_stats.css">
</head>
<body>
<ul class="navUl">
    <li class="navLi"><a class="active" href="/views/login.html">Back</a></li>
    <li class="navLi"><p class="nav_title">Space Maze Game</p>
    <li class="navLi" style="float:right"><button id="btn_refresh">Refresh</button></li>
</ul>

<p class="title_status">Spielerstatus</p>

<p id="demo">Daten</p>

<p class="title_cap">Kapazität:</p>
<p id="storage_max">0</p>

<p class="title_occ">Belegt:</p>
<p id="storage_occ">0</p>


<progress id="data_bar" value="0" max="100"></progress>

<p class="title_all">Gesamt:</p>
<p id="storage_all">0</p>

<p class="title_todo">Zu tun</p>

<ul id="todo_list">
</ul>

<button id="btn_scoreboard">Scoreboard</button>
<button id="btn_log">Logbuch</button>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/user_stats.js"></script>
</body>
</html>