<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<ul class="navUl">
    <li class="navLi"><a class="active" href="/views/user_stats.html">Back</a></li>
    <li class="navLi"><p class="nav_title">Space Maze Game</p></li>
</ul>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/user_log.js"></script>
</body>
</html>