.todo_btn{
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    margin-bottom: 15px;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    position:relative;
    right:20%;
}

.btn_footer{
    background-color: #4869af; /* Green background */
    border: 1px solid #2f3131; /* Green border */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    margin-bottom: 15px;
    cursor: pointer; /* Pointer/hand icon */
}