.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navLi {
    float:left;
}

.navLi:first-child {
    border-right: 1px solid #bbb;
}

.navLi a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navLi a:hover {
    background-color: #111;
}

.navLi:last-child {
    border-right: none;
}

.active {
    background-color: #4869af;
}

.nav_title{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: bold;
}