body{
    background-color: #111111;
    color: #d5d328;
    text-align: center;
    font-size: x-small;
    font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "Roboticana";
    src: url("/public/fonts/PressStart2P.ttf");
}