.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.btn_footer{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
    margin-right: 15px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    font-weight: bold;
    font-size: 20px;
}

#btn_yes{
    color: #45ca4a;
}

#btn_no{
    color: #ca3644;
}

#btn_up{
    color: #00B7FF;
}

#btn_down{
    color: #FFFFFF;
}