.heading{
    font-weight: bold;
}

.lead-container{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.table{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.player_info{
    width:33%;
    display:inline-block;
}

.menu_list{
    list-style-type: none;
}

.btn_menu{
    border: none;
    color: lightgoldenrodyellow;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    width: 50%;
}