<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Importer</title>
    <link rel="stylesheet" href="/stylesheets/tools/questimporter.css">

</head>
<body>

<h1>Quest Importer </h1>
<form>
    quest_id: <input type="text" id="quest_id" value=""><br><br>
    quest_name: <input type="text" id="quest_name" value=""><br><br>
    quest_stagecount: <input type="text" id="quest_stagecount" value=""><br><br>
    quest_department: <input type="text" id="quest_department" value=""><br><br>
    quest_crew_id: <input type="text" id="quest_crew_id" value=""><br><br>
    quest_badge_req: <input type="text" id="quest_badge_req" value=""><br><br>
    quest_free_storage_req: <input type="text" id="quest_free_storage_req" value=""><br><br>
    quest_online_data_req: <input type="text" id="quest_online_data_req" value=""><br><br>
    <div class="rewards">
        <p>Reward 1</p>
        badge_id: <input type="text" id="quest_reward_1_badge_id" value=""><br><br>
        data_reward: <input type="text" id="quest_reward_1_data_reward" value=""><br><br>
        data_target: <input type="text" id="quest_reward_1_data_target" value=""><br><br>
        data_desc: <input type="text" id="quest_reward_1_data_desc" value=""><br><br>
        <p>Reward 2</p>
        badge_id: <input type="text" id="quest_reward_2_badge_id" value=""><br><br>
        data_reward: <input type="text" id="quest_reward_2_data_reward" value=""><br><br>
        data_target: <input type="text" id="quest_reward_2_data_target" value=""><br><br>
        data_desc: <input type="text" id="quest_reward_2_data_desc" value=""><br><br>

    </div>
    <div class="rewards">

        <p>Reward 3</p>
        badge_id: <input type="text" id="quest_reward_3_badge_id" value=""><br><br>
        data_reward: <input type="text" id="quest_reward_3_data_reward" value=""><br><br>
        data_target: <input type="text" id="quest_reward_3_data_target" value=""><br><br>
        data_desc: <input type="text" id="quest_reward_3_data_desc" value=""><br><br>

        <p>Reward 4</p>
        badge_id: <input type="text" id="quest_reward_4_badge_id" value=""><br><br>
        data_reward: <input type="text" id="quest_reward_4_data_reward" value=""><br><br>
        data_target: <input type="text" id="quest_reward_4_data_target" value=""><br><br>
        data_desc: <input type="text" id="quest_reward_4_data_desc" value=""><br><br>
    </div>
    <div class="rewards">

        <p>Reward 5</p>
        badge_id: <input type="text" id="quest_reward_5_badge_id" value=""><br><br>
        data_reward: <input type="text" id="quest_reward_5_data_reward" value=""><br><br>
        data_target: <input type="text" id="quest_reward_5_data_target" value=""><br><br>
        data_desc: <input type="text" id="quest_reward_5_data_desc" value=""><br><br>
        <p>Reward 6</p>
        badge_id: <input type="text" id="quest_reward_6_badge_id" value=""><br><br>
        data_reward: <input type="text" id="quest_reward_6_data_reward" value=""><br><br>
        data_target: <input type="text" id="quest_reward_6_data_target" value=""><br><br>
        data_desc: <input type="text" id="quest_reward_6_data_desc" value=""><br><br>
    </div>

    <br>

    quest_description_stages: <input type="text" id="quest_desc_stages" value=""><br><br>



</form>

<button id="btn_submit">Submit Quest</button>

<script type="text/javascript" src="/javascripts/tools/questimporter.js"></script>
</body>
</html>