<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="/stylesheets/tools/scoreboard.css">
</head>
<body background="/images/spacemaze_bild_terminal.jpg">


<h1 class="title_main">Wettkampf für die neue Welt</h1>

<div id="wrapper">

    <div id="piechart"></div>

    <div id="player_div">
        <table id="player_table"></table>
    </div>

</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/javascripts/tools/scoreboard.js"></script>
</body>
</html>