<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug Login</title>
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
</head>
<body>

<p>Spielercode eingeben</p>
<p id="demo"></p>

<table id="table_code">
    <tr>
        <td><p class="p_code" id="p_code_1">-</p></td>
        <td><p class="p_code" id="p_code_2">-</p></td>
    </tr>


</table>

<table id="matrix">
    <tr>
        <td>
            <button class="matrix_btn" id="btn_matrix_1">1</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_2">2</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_3">3</button>
        </td>
    </tr>
    <tr>

        <td>
            <button class="matrix_btn" id="btn_matrix_4">4</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_5">5</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_6">6</button>
        </td>
    </tr>

    <tr>

        <td>
            <button class="matrix_btn" id="btn_matrix_7">7</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_8">8</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_9">9</button>
        </td>
    </tr>

    <tr>

        <td>
            <button class="matrix_btn_X" id="btn_matrix_X">X</button>
        </td>
        <td>
            <button class="matrix_btn" id="btn_matrix_0">0</button>
        </td>
        <td>
            <button class="matrix_btn_V" id="btn_matrix_V">&#10003</button>
        </td>
    </tr>
</table>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/terminal/t_debuglogin.js"></script>
</body>
</html>