<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Login</title>
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
    <link rel="preload" as="font" href="/fonts/PressStart2P.ttf" type="font/woff2" crossorigin="anonymous">

</head>
<body background="/images/spacemaze_bild_terminal.jpg">

<p id="demo"></p>

<p>Hallo!</p>
<p>Ich freue mich darauf mit dir zu interagieren!</p>
<p>Bitte scanne deinen Code.</p>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/terminal/t_login.js"></script>
</body>
</html>