<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Login</title>
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
    <link rel="preload" as="font" href="/fonts/PressStart2P.ttf" type="font/woff2" crossorigin="anonymous">

</head>
<body>

<p>Hallo!</p>
<p>Ich freue mich darauf mit dir zu interagieren!</p>
<p>Bitte scanne deinen Code.</p>

<input class="button-login" type="button" onclick="location.href='/terminal/debuglogin';" value="Debug Login" />

</body>
</html>