<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Login</title>
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
    <link rel="preload" as="font" href="/fonts/PressStart2P.ttf" type="font/woff2" crossorigin="anonymous">

</head>
<body background="/images/spacemaze_bild_terminal_small.jpg">

<p id="demo"></p>

<h1>Hallo!</h1>
<h2>Ich freue mich darauf mit dir zu interagieren!</h2>
<h2>Bitte scanne deinen Code.</h2>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/terminal/t_login.js"></script>
<script type="text/javascript" src="/javascripts/terminal/autologout.js"></script>
</body>
</html>