<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/terminal/t_quests.css">
    <link rel="stylesheet" href="/stylesheets/terminal/stickyBottom.css">
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
</head>
<body background="/images/spacemaze_bild_terminal_small.jpg">
<h1>Quests</h1>

<div id="todo_list"></div>



<div class="footer">
    <table>
        <button class="btn_footer" id="btn_no">Zurück</button>
        <button class="btn_footer" id="btn_up">^</button>
        <button class="btn_footer" id="btn_down">v</button>
        <button class="btn_footer" id="btn_yes"></button>
    </table>
</div>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/terminal/autologout.js"></script>
<script type="text/javascript" src="/javascripts/terminal/t_quests.js"></script>
</body>
</html>