<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Ask</title>
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
    <link rel="stylesheet" href="/stylesheets/terminal/stickyBottom.css">
</head>
<body>
<div class="wrap">
    <h1>Lade deine Daten hoch!</h1>

    <h2>Willst du jetzt Daten hochladen?</h2>

</div>


<div class="footer">
    <table>
        <button class="btn_footer" id="btn_no">Nein</button>
        <button class="btn_footer" id="btn_up">^</button>
        <button class="btn_footer" id="btn_down">v</button>
        <button class="btn_footer" id="btn_yes">Ja</button>
    </table>
</div>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/terminal/t_uploadAsk.js"></script>
<script type="text/javascript" src="/javascripts/terminal/autologout.js"></script>
</body>
</html>