<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/terminal/main.css">
    <link rel="stylesheet" href="/stylesheets/terminal/stickyBottom.css">
    <link rel="stylesheet" href="/stylesheets/terminal/t_uploadQuestion.css">
</head>
<body>
<div class="wrap">
    <h1 id="title_1">Danke für deine Daten!</h1>

    <h2 id="title_2">Bitte beantworte noch folgende Frage:</h2>

    <h3 id="question_text"></h3>

</div>

<h1 id="title_finish"></h1>


<div id="answer_list"></div>


<div class="footer">
    <table>
        <button class="btn_footer" id="btn_no">Ausloggen</button>
        <button class="btn_footer" id="btn_up">^</button>
        <button class="btn_footer" id="btn_down">v</button>
        <button class="btn_footer" id="btn_yes">Ja</button>
    </table>
</div>

<script type="text/javascript" src="/javascripts/cookiehandler.js"></script>
<script type="text/javascript" src="/javascripts/terminal/t_uploadQuestion.js"></script>
</body>
</html>